.container {
    background-color: rgba(25, 159, 168, 0.616);
    width: 600px;
    height: 400px;
    position: absolute;
    left: 425px;
    top: 150px;
    border: 1px solid rgba(30, 100, 112, 0.616)
}
#titleContainer {
    text-align: center;
}
#answerContainer {
    text-align: left;
    padding-left: 35%;
}
.flex-box-container-1 {
    display: flex;
    padding: 10px;
    align-items: center;
    border: 1px solid black;
    height: 75%;
}
#entryname{
    align-content: center;
    width: 200px;
    height: 40px;

}
#change-button{
    width: 100px;
    height: 30px;
}
.submitButton{
    width: 170px;
    height: 40px;
    background-color: white;
    text-align: center;
    font-size: medium;
    border-radius: 4px;
    position: absolute;

}
.submitButton:hover {
    background-color: grey;
    color: white;
}

.buttonRow{
    padding-left: 200%;
}

.hr {
    color: rgba(17, 61, 87, 0.616);
    height: 5px;
}
#landing-buttons{
    padding-left: 0;
    border-style: solid;
    border-color: rgba(17, 61, 87, 0.616);
    border-width: 2px;
    text-align: center;

}

.row {
    padding-left: 35px;
    padding-top: 30px;
}

.titletwo {
    text-align: center;
    padding-top: 5px;
}
#selectMenu{
    width: 100px;
    height: 30px;
    position: fixed;
}
.flex-box-name-input {
    display: flex;
    align-items: center;
    padding: 10%;
    width: 100px;
    height: 30px;
    flex-wrap: wrap;
    flex-direction: row;
}